/* Color */
$--color-main-blue    : #2E55E7;
$--color-side-blue    : #E5E9F7;
$--color-background   : #F9F9F9;
$--color-black        : #252525;
$--color-white        : #FFFFFF;
$--color-gray50       : #5C5C5C;
$--color-gray         : #737373;
$--color-gray-medium  : #AAAAAA;
$--color-gray-light   : #DDDDDD;
$--color-white        : #FFFFFF;

/* Font Size */
$--font-logo    : 28px;
$--font-large   : 18px;
$--font-regular : 16px;
$--font-small   : 14px;

/* Font Weight */
$--weight-bold    : 700;
$--weight-medium  : 500;
$--weight-regular : 400;
$--weight-light   : 300;