@import '@/styles/DefaultValueVariable.scss';

.input {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  height: 48px;
  border: 2px solid $--color-main-blue;
  border-radius: 26px;
  padding-left: 14px;
  outline: 0;
}

.image {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 21px;
  height: 21px;
  margin: 0;
}